body {
    background-color: lightgray;
    font-size: 16px; /* previously nothing here */
}

.highlight{
    /*
    width: 35%;
    works better on iPhone to be 100% but looks worse on laptop 
    */
    outline: 2px solid red;
    background-color:yellow;
}

.button {
    appearance: none;
    -webkit-appearance: none;   /*      Removes default chrome and safari style */
    -moz-appearance: none;      /*     Removes Default Firefox style   */
    background-color: white;
    border-color: blue;  
    cursor: pointer;
    border-radius: 5px;
 
    width: 100px; 
    padding: 7px 10px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.buttonPressed{
    background-color: blue;
    color: white;

    appearance: none;
    -webkit-appearance: none;   /*      Removes default chrome and safari style */
    -moz-appearance: none;      /*     Removes Default Firefox style   */
   
    cursor: pointer;
    border-radius: 5px;
 
    width: 100px;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}


input {
    font-size: 16px;
}

select {
    font-size: 16px;
    width: 75px; 
    text-align: center;

}

input[type=text] {  /* this is not working */
    font-size: 16px;
    width: 100px; // was 45
    text-align: center;
}

input[type=number] {
    font-size: 16px;
    width: 35px; 
    text-align: center;
}

input.text,
input[type="text"],
select {
    -webkit-appearance: none;
    background-color: #ffffff;
}

/* New below to stop zoom on select options with iPhone -- does not appear to work*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
select:focus, textarea:focus, input:focus {
        font-size: 16px;
    }
}
        











.hideDIV{
    display: none;
}





/*  BELOW HERE IS ALL CHECKBOX CUSTOM STUFF */

/* The container */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;  /*  12px */
    cursor: pointer;
    font-size: 20px; /*  16px */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox  */
.checkmark {
    position: absolute;
    top: 0;
    left:0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: darkgray;
}

/* When the checkbox is checked, add a blue background #2196F3 */
.container input:checked ~ .checkmark {
    background-color: blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

